//set breapoint variable
$med: 992px;

//colors
$primary-green: #0CE8BD;
$secondary-green: #0DFF8C;
$primary-blue: #0C9CE8;
$secondary-blue: #00EAFF;

$white: #fff;
$off-white: #fafafa;
$off-white-virgil-abloh: #ececec;


//mixin for ease of use
@mixin breakpoint {
    @media (max-width: $med) {
        @content;
    }
}


body{
    margin:0;
    padding:0;
    background: radial-gradient(circle at 75% 1%, #B9F9FF, #ADCDFF);
    height: 100%;
    background-attachment: fixed;
    font-size: 14px;
    color: $primary-blue;
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.custom-select{
    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    cursor: pointer;
    display: block;
    border: 1px solid $secondary-blue;
    color: $primary-blue;
    font-weight: 600;
    padding-left: 10px;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    background-color: $off-white;
    background-image:
        //left and right side of carat icon
        linear-gradient(45deg, transparent 50%, $primary-green 50%),
        linear-gradient(135deg, $primary-green 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    transition: 0.2s ease-out all;
    &:hover{
        border: 1px solid $secondary-green;
    }
    
}

button {
    cursor: pointer;
    font-weight: 600;
    height: 30px;
    width: 100px;
    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    border : none;
    border-radius: 4px;
    color: $white;
    background-color: $primary-green;
    transition: 0.2s ease-out all;
    &:hover{
        box-shadow: 0 0 5px rgba(0,0,0, 0.15);
        background-color: $secondary-green;
    }
    @include breakpoint {
        //break down to mobile view
        margin-top: 20px;
        height: 40px;
        width: 100%;
    }


}

input{
    border-radius: 4px;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
    padding: 10px;
    border: 1px solid $secondary-blue;
    background-color: $off-white;
    
    transition: 0.2s ease-out all;
    &:hover{
        border: 1px solid $secondary-green;
    }
}




.wrap{
    margin : 0 auto;
    margin-top: 20%;
    display: flex;
    background-color: $white;
    border-radius: 5px;
    width: 80%;
    box-shadow: 0 0 20px rgba(0,0,0, 0.15);


    @include breakpoint {
        //break down to mobile view
        display: block;
    }


    .main-col{
        padding: 20px;
        flex-direction: column;

        &:first-of-type{
            flex:0.33;
            border-right: solid 1px $off-white-virgil-abloh;
            @include breakpoint {
                //break down to mobile view
                border-right: none;
            }

        }
    }

    .sub-col-sm{
        flex: 0.2;
        margin-bottom: 5px;
    }

    .row{
        fa-icon{
            margin-right: 10px;
            color: $secondary-blue;
        }
        margin-bottom: 20px;;
        display: flex;
        flex-direction: column;
        
        label{
            margin-right: 10px;
        }
        input {
            width: 100%;
        }

        &:last-of-type{
            justify-content: flex-end;
            flex-direction: row;
        }

        h2{
            @include breakpoint {
            //break down to mobile view
            font-size: 16px;
            }
        }
    }

    section {
        flex: 1;
       
    }


    

}