<div class="wrap">

	<section class="col main-col">

		<section class="row">
			<h1>
				{{selectedLabels.select}}
			</h1>
		</section>


		<section class="row mobile-select">
			<select class = "custom-select" [(ngModel)]="currentLang" (ngModelChange)="setLabels(currentLang, 'string')">
				<option *ngFor="let option of options"> {{option.lang}} </option>
			</select>
		</section>

		<section class ="row desktop-select">
			<ng-select [styleGuide]="styleGuide" [options]="options" [displayKey] = "name" [(ngModel)]="currentLang" (onChange) = "setLabels(currentLang, 'obj')">
				
			</ng-select>
		</section> 
        <!-- current : <pre>{{currentLang|json}}</pre> -->

	</section>


	<section class="col main-col">
		<form #formRef="ngForm">
			<section class="row">
				<h2>
					<fa-icon [icon]="faPencilAlt"></fa-icon>{{selectedLabels.header}}
				</h2>
			</section>
			<section class="row">
				<section class="col sub-col-sm">
					<fa-icon [icon]="faUser"></fa-icon>
					<label for="name">{{selectedLabels.name}}</label>
				</section>
				<section class="col sub-col-lg">
					<input class = "custom-input" type="text" id="name" name="name">
				</section>

			</section>

			<section class="row">
				<section class="col sub-col-sm">
					<fa-icon [icon]="faEnvelope"></fa-icon>
					<label for="name">{{selectedLabels.email}}</label>
				</section>
				<section class="col sub-col-lg">
					<input class = "custom-input" type="text" id="name" name="name">
				</section>
			</section>

			<section class="row">
				<section class="col sub-col-sm">
					<fa-icon [icon]="faLock"></fa-icon>
					<label for="name">{{selectedLabels.password}}</label>
				</section>
				<section class="col sub-col-lg">
					<input class = "custom-input" type="text" id="name" name="name">
				</section>		
			</section>

			<section class="row">
				<button>
					{{selectedLabels.submit}}
				</button>
			</section>


		</form>
	</section>
</div>